<svg fill="none" viewBox="0 0 1600 800" preserveAspectRatio="xMinYMin none"
  xmlns="http://www.w3.org/2000/svg">
  <foreignObject width="100%" height="100%">
    <div xmlns="http://www.w3.org/1999/xhtml">
      <style>
        svg {
          position: relative;
          display: flex;
          -webkit-user-select: none;
          -ms-user-select: none;
          user-select: none;
        }

        .container {
          position: absolute;
          width: 1600px;
          height: 800px;
          top: 0px;
          height: 0px;
        }

        .background-v {
          background: transparent;
          height: 800px;
          width: 1600px;
          border-radius: 50px;
        }

        .background-h {
          background: transparent;
          height: 800px;
          width: 1600px;
          border-radius: 50px;
        }

        .background {
          background: transparent;
          height: 800px;
          width: 1600px;
          left: 0px;
          position: absolute;
          border-radius: 50px;
        }

        .dylan {
          left: 100px;
          top: 50px;
          position: absolute;
        }

        .head {
          border-radius: 50% 50% 50% 50% / 44% 44% 56% 56%;
          background: #FFEFD5;
          height: 400px;
          width: 400px;
          top: 50px;
          left: 100px;
          position: relative;
        }

        .head-depth {
          border-radius: 50% 50% 50% 50% / 44% 44% 56% 56%;
          background: #ffebcc;
          height: 400px;
          width: 380px;
          top: 50px;
          left: 110px;
          position: absolute;
        }

        .hair {
          background: radial-gradient(#6e3710, #8B4513);
          position: absolute;
          position: absolute;
        }

        .hair.back {
          border-radius: 50% 50% 50% 50% / 35% 35% 65% 65%;
          height: 450px;
          width: 400px;
          top: 25px;
          left: 100px;
        }

        .hair.back-left {
          border-radius: 50%;
          left: 80px;
          top: 190px;
          width: 200px;
          height: 350px;
        }

        .hair.back-left-2 {
          border-radius: 50%;
          left: 80px;
          top: 120px;
          width: 100px;
          height: 200px;
        }

        .hair.back-right {
          border-radius: 50%;
          left: 380px;
          top: 120px;
          width: 150px;
          height: 350px;
        }

        .hair.back-right-2 {
          border-radius: 50% 50% 37% 50%;
          left: 350px;
          top: 390px;
          width: 160px;
          height: 150px;
          transform: rotate(20deg);
        }

        .hair.left {
          left: 98px;
          top: 160px;
          width: 12px;
          height: 150px;
          border-radius: 25%;
        }

        .hair.middle {
          left: 200px;
          top: 47px;
          width: 200px;
          height: 13px;
          border-radius: 25%;
        }

        .hair.right {
          left: 490px;
          top: 160px;
          width: 12px;
          height: 150px;
          border-radius: 25%;
        }

        .eye {
          width: 70px;
          height: 70px;
          background: #F8F8FF;
          border-radius: 50%;
          position: absolute;
          top: 110px;
        }

        .eye.left {
          left: 175px;
        }

        .eye.right {
          left: 350px;
        }

        .eyelid {
          width: 100px;
          height: 40px;
          border: 20px solid #ffebcc;
          border-radius: 50%;
          position: absolute;
          top: 105px;
        }

        .eyelid.left {
          left: 140px;
        }

        .eyelid.right {
          left: 315px;
        }

        .toplid {
          width: 100px;
          height: 0px;
          background: #ffebcc;
          animation: blink-toplid 8s infinite;
        }

        .bottomlid {
          width: 100px;
          height: 0px;
          background: #ffebcc;
          top: 25px;
          animation: blink-bottomlid 8s infinite;
          position: absolute;
        }

        @keyframes blink-toplid {
          0% {
            height: 0px;
          }

          90% {
            height: 0px;
          }

          95% {
            height: 25px;
          }

          100% {
            height: 0px;
          }
        }

        @keyframes blink-bottomlid {
          0% {
            height: 0px;
          }

          90% {
            top: 40px;
            height: 0px;
          }

          95% {
            top: 25px;
            height: 17px;
          }

          100% {
            top: 40px;
            height: 0px;
          }
        }

        .iris {
          width: 50px;
          height: 50px;
          background: radial-gradient(white, #87CEFA, #B0C4DE, white);
          border-radius: 50%;
          position: relative;
          top: 10px;
          left: 10px;
        }

        .pupil {
          width: 25px;
          height: 25px;
          background: black;
          border-radius: 50%;
          position: relative;
          top: 12.5px;
          left: 12.5px;
          animation: pupil-animation 10s infinite;
        }

        @keyframes pupil-animation {
          0% {
            left: 12.5px
          }

          2% {
            left: 11px;
            width: 26px;
            height: 26px;
          }

          7% {
            left: 14px
          }

          10% {
            left: 12.5px;
            width: 25px;
            height: 25px;
          }

          33% {
            left: 11px;
          }

          36% {
            left: 14px
          }

          39% {
            left: 12.5px;
          }

          100% {
            left: 12.5px
          }
        }

        .eyebrow {
          border-top: 10px solid #6e3710;
          width: 100px;
          height: 50px;
          position: absolute;
          top: 100px;
          animation: eyebrow-animation 15s infinite;
        }

        @keyframes eyebrow-animation {
          0% {
            top: 100px;
          }

          87.5% {
            top: 100px;
          }

          90% {
            top: 95px;
          }

          92.5% {
            top: 100px;
          }

          95% {
            top: 95px;
          }
        }

        .eyebrow.left {
          border-radius: 45% 30% 0% 0%;
          left: 155px;
        }

        .eyebrow.right {
          border-radius: 30% 45% 0% 0%;
          left: 335px;
        }

        .nose {
          background: #ffebcc;
          border: 5px #F5DEB3;
          border-style: none groove groove ridge;
          border-radius: 0% 0% 35% 35%;
          width: 50px;
          height: 100px;
          left: 270px;
          top: 180px;
          position: absolute;
        }

        .nostrils {
          border: 5px #F5DEB3;
          border-style: ridge groove groove ridge;
          border-radius: 50% 50% 25% 25%;
          width: 80px;
          height: 30px;
          position: absolute;
          left: 255px;
          top: 240px;
        }

        .lips {
          height: 62px;
          width: 160px;
          background: radial-gradient(#f08080, #FFE4C4);
          left: 220px;
          top: 327.5px;
          position: absolute;
          border-radius: 10% 10% 50% 50%;
          animation: mouth-animation-lips 25s infinite;
        }

        @keyframes mouth-animation-lips {
          30% {
            height: 62px;
            top: 327.5px;
          }

          35% {
            height: 10px;
            top: 340px;
          }

          37% {
            height: 10px;
            top: 340px;
          }

          42% {
            height: 62px;
            top: 327.5px;
          }
        }

        .mouth {
          height: 50px;
          width: 148px;
          background: #FFFAF0;
          border: 1px solid #f08080;
          left: 225px;
          top: 332.5px;
          position: absolute;
          border-radius: 10% 10% 50% 50%;
          animation: mouth-animation 25s infinite;
        }

        .mouth-2 {
          height: 50px;
          width: 148px;
          border: 1px solid #f08080;
          left: 225px;
          top: 332.5px;
          position: absolute;
          border-radius: 10% 10% 50% 50%;
          animation: mouth-animation 25s infinite;
        }

        @keyframes mouth-animation {
          30% {
            height: 50px;
            top: 332.5px;
          }

          35% {
            height: 0px;
            top: 344px;
          }

          37% {
            height: 0px;
            top: 344px;
          }

          42% {
            height: 50px;
            top: 332.5px;
          }
        }

        .mustache {
          border-top: 20px solid #a0782d;
          border-radius: 30% 30% 0% 0%;
          width: 160px;
          height: 70px;
          position: absolute;
          top: 295px;
          left: 220px;
        }

        .mustache-2 {
          border-top: 20px solid #a0782d;
          border-radius: 25% 25% 0% 0%;
          width: 140px;
          height: 90px;
          position: absolute;
          top: 290px;
          left: 230px;
        }

        .neck {
          background: #FFEFD5;
          height: 80px;
          width: 75px;
          left: 260px;
          top: 440px;
          position: absolute;
          border-radius: 0% 0% 25% 25%;
        }

        .neck-depth {
          background: #ffebcc;
          height: 80px;
          width: 65px;
          left: 265px;
          top: 440px;
          position: absolute;
          border-radius: 0% 0% 25% 25%;
        }

        .shirt {
          background: #BDB76B;
          height: 250px;
          width: 500px;
          border-radius: 25% 25% 0% 0%;
          left: 50px;
          top: 500px;
          position: absolute;
        }

        .collar {
          background: transparent;
          height: 85px;
          width: 95px;
          border-radius: 50%;
          left: 249.5px;
          top: 455px;
          position: absolute;
          border-bottom: 3px solid black;
        }

        .shirt-sleeve {
          background: #BDB76B;
          height: 210px;
          width: 80px;
          top: 540px;
          position: absolute;
          border-top: 0px;
        }

        .shirt-sleeve.left {
          left: 30px;
          border-radius: 50% 0% 0% 0%;
          border-right: 0px;
        }

        .shirt-sleeve.left>.inside-arm {
          height: 135px;
          top: 75px;
          left: 100%;
          border-right: 3px solid black;
          position: absolute;
        }

        .shirt-sleeve.right {
          left: 485px;
          border-radius: 0% 40% 0% 0%;
          border-left: 0px;
        }

        .shirt-sleeve.right>.inside-arm {
          height: 135px;
          top: 75px;
          border-left: 3px solid black;
          position: absolute;
        }

        table {
          border-collapse: collapse;
          width: 100%;
          height: 100%;
          animation: mouth-animation-teeth 25s infinite;
          clip-path: polygon(0% 0%, 100% 0%, 100% 60%, 80% 93%, 50% 105%, 20% 93%, 0% 60%);
        }

        @keyframes mouth-animation-teeth {
          30% {
            height: 100%;
            opacity: 1.0;
          }

          35% {
            height: 0%;
            opacity: 0.25;
          }

          35% {
            height: 0%;
            opacity: 0.0;
          }

          36% {
            height: 0%;
            opacity: 0.0;
          }

          37% {
            opacity: 0.25;
          }

          41% {
            height: 100%;
            opacity: 1.0;
          }
        }

        td,
        th {
          border: 1px solid #dddddd;
        }

        tr:first-child>td {
          border-top: 0px;
        }

        tr:last-child>td {
          border-bottom: 0px;
        }

        td:first-child {
          border-left: 0px;
        }

        td:last-child {
          border-right: 0px;
        }

        .label {
          position: absolute;
          top: 150px;
          left: 640px;
          font-size: 150px;
          font-family:
            system-ui,
            -apple-system,
            'Segoe UI',
            Roboto,
            Helvetica,
            Arial,
            sans-serif,
            'Apple Color Emoji',
            'Segoe UI Emoji';
          color: rgba(50, 50, 180, 1);
          text-align: center;
          -webkit-user-select: none;
          /* Safari */
          -ms-user-select: none;
          /* IE 10 and IE 11 */
          user-select: none;
          /* Standard syntax */
          clip-path: polygon(15% 0%, 100% 0%, 100% 100%, 15% 100%, 15% 20%, 0% 30%, 15% 10%);
          padding: 1% 1% 1% 10%;
          background: rgba(0, 0, 0, 0.25);
          height: 455px;
        }


        @media (prefers-color-scheme: dark) {
          .label {
            background: rgba(255, 255, 255, 0.9);
          }
        }

        .hand {
          animation: rotate ease-in-out 0.75s infinite alternate;
          text-shadow:
            0 1px 0 #efefef,
            0 2px 0 #efefef,
            0 12px 5px rgba(0, 0, 0, 0.75);
        }

        h1 {
          font-size: 100px;
          line-height: 1.3;
          letter-spacing: 5px;
          text-transform: uppercase;
          text-shadow:
            0 1px 0 rgba(50, 50, 50, 1),
            0 2px 0 rgba(50, 50, 50, 1),
            0 3px 0 rgba(50, 50, 50, 1),
            0 4px 0 rgba(50, 50, 50, 1),
            0 12px 5px rgba(0, 0, 0, 0.75);
          animation: rotate ease-in-out 1s infinite alternate;
        }

        @keyframes rotate {
          0% {
            transform: rotate(3deg);
          }

          100% {
            transform: rotate(-3deg);
          }
        }
      </style>
      <div class="container">
        <div class="background">
          <div class="background-v">
            <div class="background-h">
            </div>
          </div>
        </div>


        <div class="label">
          <div class="hand">👋🏻
          </div>
          <h1>Hello World</h1>
        </div>
        <div class="dylan">
          <div class="hair back">
          </div>
          <div class="hair back-2">
          </div>
          <div class="hair back-left">
          </div>
          <div class="hair back-left-2">
          </div>
          <div class="hair back-right">
          </div>
          <div class="shirt">
          </div>
          <div class="collar">
          </div>
          <div class="hair back-right-2">
          </div>
          <div class="head">
          </div>
          <div class="head-depth">
          </div>
          <div class="hair left">
          </div>
          <div class="hair middle">
          </div>
          <div class="hair right">
          </div>
          <div class="eye left">
            <div class="iris">
              <div class="pupil">
              </div>
            </div>
          </div>
          <div class="eyelid left">
            <div class="toplid">
            </div>
            <div class="bottomlid">
            </div>
          </div>
          <div class="eye right">
            <div class="iris">
              <div class="pupil">
              </div>
            </div>
          </div>
          <div class="eyelid right">
            <div class="toplid">
            </div>
            <div class="bottomlid">
            </div>
          </div>
          <div class="eyebrow left">
          </div>
          <div class="eyebrow right">
          </div>
          <div class="nostrils">
          </div>
          <div class="nose">
          </div>
          <div class="mustache">
          </div>
          <div class="mustache-2">
          </div>
          <div class="lips">
          </div>
          <div class="mouth">
            <table>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </table>
          </div>
          <div class="mouth-2">
          </div>
          <div class="shirt-sleeve left">
            <div class="inside-arm">
            </div>
          </div>
          <div class="shirt-sleeve right">
            <div class="inside-arm">
            </div>
          </div>
          <div class="neck">
          </div>
          <div class="neck-depth">
          </div>
        </div>
      </div>
    </div>
  </foreignObject>
</svg>